{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

<h1 class="display-2">Watch & Learn</h1>
Watch & Learn (W&L) is a website which analyzes TV shows' transcripts, lists the most commonly occurred words, allows the user to place words into flashcards and then to mark them as learned, and ultimately displays the users' progress per analyzed transcript.

<div style="padding: 55px;">
<figure class="text-center">
    <blockquote class="blockquote">
        <p class="fs-4 lh-sm fw-light">"My English teacher was the sitcom <i>Friends</i>. Back in the days, when I was like 15, 14, it was quite a [common] thing for all the Korean parents to make their kids watch <i>Friends</i>. I thought I was kind of like a victim at that time, but right now, I'm the lucky one, thanks to my mother."</p>
        <p class="fs-6 lh-1">— Kim Nam Joon <i>(aka Rap Monster of BTS)</i></p>
    </blockquote>
</figure>
</div>

{% endblock %}
